html,
body {
	overflow-x: hidden;
	/* Prevent scroll on narrow devices */
}

body {
	padding-top: 56px;
}

/* custom */
.flexgrow-1 {
	flex-grow: 1;
}

.flexgrow-2 {
	flex-grow: 2;
}

.text-left {
	text-align: left;
}

.min-w-100 {
	min-width: 100%;
	max-width: 100%;
}



@media screen and (min-width: 992px) {
	.m-indent {
		margin: 0 1rem;
	}
}

/* Workaround flex child is not filling with flex-grow, when flex-column is applied */
@media screen and (max-width: 576px) {
	.m-wrap {
		width: 100%;
	}
}